ARM_templates/Pipeline_Dynamic_Loading/linkedTemplates/ArmTemplate_0.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "adf-dataopsmonitor-dev"
        },
        "LinkedService_ADLS_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'LinkedService_ADLS'"
        },
        "LinkedService_AzureSQL_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'LinkedService_AzureSQL'"
        },
        "LinkedService_ADLS_Mapping_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'LinkedService_ADLS_Mapping'"
        },
        "LinkedService_ADLS_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://stdataopsmonitordev.dfs.core.windows.net/"
        },
        "LinkedService_AzureSQL_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "sqlsrv-dataopsmonitor-dev.database.windows.net"
        },
        "LinkedService_AzureSQL_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "sqldb-salesanalytics"
        },
        "LinkedService_AzureSQL_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "sqladmin"
        },
        "LinkedService_ADLS_Mapping_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://stdataopsmonitordev.dfs.core.windows.net/"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/LinkedService_ADLS')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('LinkedService_ADLS_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('LinkedService_ADLS_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LinkedService_AzureSQL')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "server": "[parameters('LinkedService_AzureSQL_properties_typeProperties_server')]",
                    "database": "[parameters('LinkedService_AzureSQL_properties_typeProperties_database')]",
                    "encrypt": "mandatory",
                    "trustServerCertificate": false,
                    "authenticationType": "SQL",
                    "userName": "[parameters('LinkedService_AzureSQL_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('LinkedService_AzureSQL_password')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LinkedService_ADLS_Mapping')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('LinkedService_ADLS_Mapping_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('LinkedService_ADLS_Mapping_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_Lookup_Mapping')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LinkedService_ADLS_Mapping",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "mapping.csv",
                        "fileSystem": "config"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LinkedService_ADLS_Mapping')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_SQL_Sink')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LinkedService_AzureSQL",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "Tablename": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "AzureSqlTable",
                "schema": [],
                "typeProperties": {
                    "schema": "",
                    "table": {
                        "value": "@dataset().Tablename",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LinkedService_AzureSQL')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ADLS_Source')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "LinkedService_ADLS",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "Filename": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": {
                            "value": "@dataset().Filename",
                            "type": "Expression"
                        },
                        "fileSystem": "raw"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LinkedService_ADLS')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/PipeLine_ADLS_to_AzureSQL')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "GetMapping",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_Lookup_Mapping",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach_CSVs",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "GetMapping",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('GetMapping').output.value",
                                "type": "Expression"
                            },
                            "activities": [
                                {
                                    "name": "CopyCSVtoSQL",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "DelimitedTextSource",
                                            "storeSettings": {
                                                "type": "AzureBlobFSReadSettings",
                                                "recursive": true,
                                                "wildcardFolderPath": {
                                                    "value": "@item().file_name",
                                                    "type": "Expression"
                                                },
                                                "wildcardFileName": "*",
                                                "enablePartitionDiscovery": false
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextReadSettings"
                                            }
                                        },
                                        "sink": {
                                            "type": "AzureSqlSink",
                                            "preCopyScript": "\n",
                                            "writeBehavior": "insert",
                                            "sqlWriterUseTableLock": false,
                                            "tableOption": {
                                                "value": "@{item().table_name}",
                                                "type": "Expression"
                                            },
                                            "disableMetricsCollection": false
                                        },
                                        "enableStaging": false,
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "typeConversion": true,
                                            "typeConversionSettings": {
                                                "allowDataTruncation": true,
                                                "treatBooleanAsNumber": false
                                            }
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DS_ADLS_Source",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "Filename": "@item().file_name"
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "DS_SQL_Sink",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "Tablename": {
                                                    "value": "@item().table_name",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": [],
                "lastPublishTime": "2025-07-20T12:56:13Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_Lookup_Mapping')]",
                "[concat(variables('factoryId'), '/datasets/DS_ADLS_Source')]",
                "[concat(variables('factoryId'), '/datasets/DS_SQL_Sink')]"
            ]
        }
    ]
}